.legend {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
}

.legend h3 {
  margin-top: 0;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.legend-label {
  font-size: 14px;
}
